name: Run RAFT evaluation

on:
  schedule:
    - cron:  '0 0 * * SUN' # Run evaluation at midnight every Sunday

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python Environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install requirements
        run: pip install '.[cron]'

      - name: Get current date
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDD-HH
          utcOffset: "+08:00"

      - name: Execute evaluation script
        env:
          YEAR: "${{ steps.current-time.outputs.year }}"
          MONTH: "${{ steps.current-time.outputs.month }}"
          DAY: "${{ steps.current-time.outputs.day }}"
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          AUTOTRAIN_TOKEN: ${{ secrets.AUTOTRAIN_TOKEN }}
          AUTOTRAIN_BACKEND_API: ${{ secrets.AUTOTRAIN_BACKEND_API }}
        run: |
          HF_TOKEN=$HF_TOKEN AUTOTRAIN_TOKEN=$AUTOTRAIN_TOKEN AUTOTRAIN_BACKEND_API=$AUTOTRAIN_BACKEND_API python scripts/run_evaluation.py raft ought/raft-private-labels $YEAR-$MONTH-$DAY 7